@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Metalmania";
  src: url("../fonts/MetalMania-Regular.ttf") format("truetype");
}

body {
    font-family: 'Metalmania', sans-serif;
  }
  
  h1, h2, h3, p {
    font-family: 'Metalmania', sans-serif;
  }

  /* style.css */
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 60vh; /* Passe die Höhe nach Bedarf an */
  }
  
  .choice-button {
    display: inline-block; /* Macht das Element zu einem Inline-Block */
    padding: 1rem; /* Füge etwas Padding hinzu */
    border: 1px solid black; /* Füge einen einfachen Rahmen hinzu */
    background-color: #f0f0f0; /* Setze einen Hintergrund */
    color: #333;
    cursor: pointer;
  }